.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* 위 3줄은 icons를 밑으로 고정 시키기 위한 속성 */
  box-sizing: border-box; /* 해당 속성은 icons가 padding으로 인해서 맨 오른쪽(ellipsis)이 안보여져서 부여함. */
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

/* icons 정렬 위해서 부모 요소에 아래 속성 부여 */
.nav__list {
  display: flex;
  justify-content: space-between;
}

/* icon color 변경 */
.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
